.header {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/background-home.jpg');
    background-repeat: no-repeat;
  }
  
  .title {
    font-family: 90px;
    letter-spacing: 8px;
    font-weight: bold;
  }
  
  .paragraph {
    font-size: 20px;
  }


/* Define the button style */
.btn-home {
    background-color: #d21807;
    color: #ffffff; 
    padding: 10px 40px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s; /* Transition animation */
  }
  
  .btn-home:hover {
    background-color: #7e0d00;
    transform: scale(1.1);
  }
  